%table.table.table-striped
  %thead
    %tr
      %th 言語
      %th

  %tbody
    - teacher_languages.includes(:language).each do |teacher_language|
      %tr
        %td= teacher_language.language.name
        %td
          = link_to '削除', teachers_language_path(teacher_language), method: :delete, data: { confirm: '削除してよろしいですか？' }
