%h3 定期決済プランの情報

- if @subscription
  %table.table.table-striped.subscriptions
    %thead
      %tr
        %th 契約プラン
        %th 月額料金
        %th 次回決済日
        %th 休止状態
    %tbody
      %tr
        %td= @subscription.plan.name
        %td #{@subscription.plan.price}円
        %td= l(@subscription.next_billing_date, format: :short_jp)
        %td
          = @subscription.suspend_status
          -# = user_subscription
