%h1 ユーザーページ

= render 'users/subscriptions', user: current_user
= render 'users/coupon_balance', user: current_user
= render 'users/billings', user: current_user
= render 'users/lesson_feedback', lesson_feedbacks: @lesson_feedbacks
