%h1 レッスン予約一覧

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.lesson.summary
        %td= link_to 'Show', reservation

%br

= link_to 'レッスンを予約する', languages_path
