@import 'node_modules/bootstrap/scss/bootstrap';

.low {
  background-color: blue;
}
.usual {
  background-color: orange;
}
.full {
  background-color: red;
}

.saturday {
  background-color: lightblue;
}

.sunday {
  background-color: lightpink;
}

.prev-month, .next-month {
  background-color: lightgray;
}
